<!DOCTYPE html>
<html lang="fr" ng-app="app">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Estée DESANCTIS, Mehdy LATRECHE, Yann GODEAU">

    <title>Projet Application Web (UPS) : Création d'un évenement</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="assets/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="assets/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="assets/vendor/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="ControllerWEB" data-ng-init="getEventById(getIdURL())">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html">Projet Application Web</a>
    </div>

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="mes-evenements.html"><i class="fa fa-user fa-fw"></i> Mes evenements</a>
                </li>
                <li><a href="user.html"><i class="fa fa-gear fa-fw"></i> Paramètres</a>
                </li>
                <li class="divider"></li>
                <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Se connecter</a>
                <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Déconnexion</a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="active">
                    <a href="../index.html"><i class="fa fa-dashboard fa-fw"></i> Accueil</a>
                </li>
                <li>
                    <a href="evenements.html"><i class="fa fa-edit fa-fw"></i> Evenements</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- / Navigation -->

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Page Wrapper : Title -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" ng-model="Event.name">Gestion de l'évenement : <b>{{event.name}}</b></h1>
        </div>
    </div>
    <!-- / Page Wrapper : Title -->


    <div class="row">
        <div class="col-lg-3 col-md-3"></div>
        <div class="col-lg-6 col-md-6 text-right">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-6">
                            <div class="huge">{{event.nbPeople}}</div>
                            <div>Participant(s) total</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <span class="pull-left">Ce chiffre est calculé instantanément</span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3"></div>
    </div>

    <!-- Page Wrapper : Ajout -->
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Participants
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <i class="fa fa-user fa-fw"></i>{{Part.firstname}} {{Part.lastname}}
                        <span class="pull-right text-muted small">
                                                        <button onclick="window.location.href='see-evenement.html'"
                                                                type="button" class="btn btn-default btn-xs">
                                                            Gérer
                                                        </button>
                                                        <button ng-click="deletePartById(Part.acronym)"
                                                                onclick="window.location.href='see-evenement.html'"
                                                                type="button" class="btn btn-danger btn-xs">
                                                            Supprimer
                                                        </button>
                                                    </span>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-user fa-fw"></i> Participant 2
                            <span class="pull-right text-muted small">
                                                        <button onclick="window.location.href='see-evenement.html'"
                                                                type="button" class="btn btn-default btn-xs">
                                                            Gérer
                                                        </button>
                                                        <button onclick="window.location.href='see-evenement.html'"
                                                                type="button" class="btn btn-danger btn-xs">
                                                            Supprimer
                                                        </button>
                                                    </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-user fa-fw"></i> Participant 3
                            <span class="pull-right text-muted small">
                                                        <button onclick="window.location.href='see-evenement.html'"
                                                                type="button" class="btn btn-default btn-xs">
                                                            Gérer
                                                        </button>
                                                        <button onclick="window.location.href='see-evenement.html'"
                                                                type="button" class="btn btn-danger btn-xs">
                                                            Supprimer
                                                        </button>
                                                    </span>
                        </a>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
    <!-- / Page Wrapper : Ajout -->

    <!-- Page Wrapper : Validation -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <button onclick="window.location.href='evenements.html'" type="button"
                            class="btn btn-primary pull-left">Retour
                    </button>
                    <button type="button" class="btn btn-danger pull-right">Supprimer</button>
                    <button type="button" class="btn btn-success pull-right" style="margin-right: 10px;">Modifier
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- / Page Wrapper : Validation -->

</div>
<!-- / Page Wrapper -->

</div>
<!-- / Wrapper -->

<!-- jQuery -->
<script src="assets/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="assets/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="assets/vendor/raphael/raphael.min.js"></script>
<script src="assets/vendor/morrisjs/morris.min.js"></script>
<script src="assets/data/morris-data.js"></script>

<!-- Custom Theme JavaScript -->
<script src="assets/dist/js/sb-admin-2.js"></script>

</body>

</html>
