<!DOCTYPE html>
<html lang="fr" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Estée DESANCTIS, Mehdy LATRECHE, Yann GODEAU">

        <title>Projet Application Web: Accueil</title>

        <!-- CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
        <link href="/assets/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
        <link href="/assets/dist/css/sb-admin-2.css" rel="stylesheet">
        <link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- script -->
        <script src="../Controller/MainController.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    </head>

    <body ng-controller="ControllerWEB" data-ng-init="getAllEvents()">
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Projet Application Web</a>
                </div>

                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="mes-evenements.html"><i class="fa fa-user fa-fw"></i> Mes evenements</a>
                            </li>
                            <li><a href="user.html"><i class="fa fa-gear fa-fw"></i> Paramètres</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Se connecter</a>
                            <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Déconnexion</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class="active">
                                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Accueil</a>
                            </li>
                            <li>
                                <a href="evenements.html"><i class="fa fa-edit fa-fw"></i> Evenements</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- / Navigation -->

            <!-- Page Wrapper -->
            <div id="page-wrapper">

                <!-- Page Wrapper : Title -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Bienvenue</h1>
                    </div>
                </div>
                <!-- / Page Wrapper : Title -->

                <!-- Page Wrapper : Stats -->
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">0</div>
                                        <div>Evenement(s)</div>
                                    </div>
                                </div>
                            </div>
                            <a href="evenements.html">
                                <div class="panel-footer">
                                    <span class="pull-left">Voir tous les évenements</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">0</div>
                                        <div>Participant(s) total</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">En savoir plus</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- / Page Wrapper : Stats -->

                <!-- Page Wrapper : Content : Left -->
                <div class="row">
                    <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bell fa-fw"></i> 5 prochains évènements
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="list-group" ng-repeat="event in events">
                                    <a href="see-evenement.html" class="list-group-item">
                                        <i class="fa fa-comment fa-fw"></i> {{event.name}}
                                        <span class="pull-right text-muted small"><em>du {{event.dateDeb}} au {{event.dateFin}}</em>
                                        </span>
                                    </a>
                                    <a href="#" class="list-group-item" ng-click="getEventById(event.idE)">
                                        <i class="fa fa-shopping-cart fa-fw"></i> {{event.name}}
                                        <span class="pull-right text-muted small"><em>du {{event.dateDeb}} au {{event.dateFin}}</em>
                                        </span>
                                    </a>
                                    <a href="#" class="list-group-item" ng-click="getEventById(event.idE)">
                                        <i class="fa fa-envelope fa-fw"></i> {{event.name}}
                                        <span class="pull-right text-muted small"><em>du {{event.dateDeb}} au {{event.dateFin}}</em>
                                        </span>
                                    </a>
                                    <a href="#" class="list-group-item" ng-click="getEventById(event.idE)">
                                        <i class="fa fa-tasks fa-fw"></i> {{event.name}}
                                        <span class="pull-right text-muted small"><em>du {{event.dateDeb}} au {{event.dateFin}}</em>
                                        </span>
                                    </a>
                                    <a href="#" class="list-group-item" ng-click="getEventById(event.idE)">
                                        <i class="fa fa-bolt fa-fw"></i> {{event.name}}
                                        <span class="pull-right text-muted small"><em>du {{event.dateDeb}} au {{event.dateFin}}</em>
                                        </span>
                                    </a>
                                </div>
                                <!-- /.list-group -->
                                <a href="evenements.html" class="btn btn-default btn-block">Voir tous les évenements</a>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- / Page Wrapper : Content : Left -->

                    <!-- Page Wrapper : Content : Right -->
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i> Devenez membre
                                </div>
                                <div class="panel-body">
                                    <div id="morris-donut-chart"></div>
                                    <a href="login.html" class="btn btn-default btn-block">Créer un compte</a>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                    </div>
            </div>
            <!-- / Page Wrapper -->

        </div>
        <!-- / Wrapper -->

        <!-- jQuery -->
        <script src="assets/vendor/jquery/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="assets/vendor/metisMenu/metisMenu.min.js"></script>

        <!-- Morris Charts JavaScript -->
        <script src="assets/vendor/raphael/raphael.min.js"></script>
        <script src="assets/vendor/morrisjs/morris.min.js"></script>
        <script src="assets/data/morris-data.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="assets/dist/js/sb-admin-2.js"></script>

    </body>

</html>
